:root {
  --primary: #3b82f6;
  --primary-soft: rgba(59, 130, 246, 0.15);
  --border: rgba(59, 130, 246, 0.25);

  --bg-dark: #0b1220;
  --card-bg: #0f172a;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --danger: #ef4444;
}